<div class="ui small menu inverted">
    <div class = "ui container">
        <a class="item">
          Chatroom
        </a>
        <a class="item">
          Messages
        </a>
        <div class="right menu">
            <div class="ui dropdown item">
                Account <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">Log out</a>
                    <%= link_to "login", new_session_path,class: "item "%>
                    <%= link_to "sign up", login_path,class: "item "%>
                </div>
            </div>
            <div class="item">
                
                <%= link_to "sign up", login_path, class: "ui primary button"%>
            </div>
        </div>
    </div>
</div>